* {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #364461;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #36cecc;
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
}

.container-input {
    max-width: 480px;
    margin: 14px 0;
    border: 2px solid #36cecc;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.container-input span {
    color: #36cecc;
    font-size: 22px;
}

#valor {
    font-weight: bold;
    color: #c2e4cb;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background-color: #c2e4cb;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta {
    height: 40px;
    background-color: #3eB720;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}

.container-password {
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.title {
    text-align: center;
    color: #36cecc;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: 1px solid #313131;
    transition: 0.4s;
}

.password:hover {
    transform: scale(1.05);
}

.tooltip {
    color: #36cecc;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 6px;
    visibility: hidden;
    transition: 0.4s;
}

.container-password:hover .tooltip {
    display: none;
}

